
#dl-rules-frame {

  height: 40px;
  margin: 10px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: hidden;

}

#dl-rules-frame[open="open"] {

  height: auto;
  overflow-y: auto;

}

#dl-rules-frame-shower, #dl-rules-frame-adder, .dl-rules-line {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  height: 40px;
  cursor: pointer;

}

#dl-rules-frame-shower { background-color: #1abc9c; color: white; }
#dl-rules-frame-adder { background-color: #bdc3c7; color: white; }

#dl-rules-frame-shower p, #dl-rules-frame-adder p {

  font-weight: bold;
  font-family: "Segoe UI", Tahoma, sans-serif;

}

.tool-bar > *:not(.tool-bar > *:last-child) {

  margin-right: 10px;

}

.icon {

  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s linear;

}

#dl-rules-frame-adder:hover #dl-rules-frame-adder-icon { transform: rotateZ(90deg); }
#dl-rules-frame-adder-icon, #dl-rules-frame-shower-icon { filter: var(--white); }

#dl-rules-frame-shower-icon { transform: rotateZ(180deg); }
#dl-rules-frame[open="open"] #dl-rules-frame-shower-icon { transform: rotateZ(0deg); }

#dl-rules-frame-panel {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  max-height: inherit;

}

.dl-rules-line {

  background-color: #ecf0f1;
  height: 50px;
  overflow-x: hidden;

}

.dl-rules-line *:not(.dl-rules-line *:last-child) {

  margin-right: 10px;

}

.dl-rules-line input[type="text"] {

  flex: 1;
  height: 25px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 50px;
  transition: width 0.2s linear;
  padding: 5px;
  box-sizing: border-box;

}

.dl-rules-line input[type="text"]:not(:focus) {
  background-color: #ecf0f1;
}

.dl-rules-line input[type="text"]:focus {
  background-color: white;
  width: 200px;
}

.dl-rules-line-remove-icon { width: 15px; height: 15px; }
.dl-rules-line-remove-icon:hover { filter: var(--red); }
.dl-rules-line-to-icon { transform: rotateZ(-90deg); }
